ul {
  list-style: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  border-style: none;
}

a,
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 1rem;
  /* 1 */
  line-height: 1;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

a:hover,
button:hover {
  cursor: pointer;
}

a:active,
button:active,
a:focus,
button:focus,
input:active,
input:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-BlackItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBoldItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-UltraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Gilroy, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.1vw;
  letter-spacing: 0.03vw;
  line-height: 1.2;
  color: #121212;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

body {
  position: relative;
}

p {
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4,
h5,
h6,
a,
button {
  font-weight: 500;
}

h1 {
  font-size: 4.1rem;
  letter-spacing: 0;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 0.85vw;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1.1vw;
}

h6 {
  font-size: 0.75rem;
}

label {
  display: flex;
  width: 100%;
  min-height: 4vw;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4vw;
  padding: 0.5vw;
  border: 1px solid #d2d2d7;
}

input::-moz-placeholder {
  font-size: inherit;
}

input::placeholder {
  font-size: inherit;
}

a,
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: inherit;
  line-height: 1;
}

a {
  transition: opacity 0.2s linear;
}

a:hover {
  opacity: 0.7;
  transition: opacity 0.2s linear;
}

a:active {
  opacity: 1;
  transition: opacity 0.2s linear;
}

.section__text-near-btn {
  margin-bottom: 3.3vw;
}

button,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 4vw;
  font-size: 1.12vw;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
}

.btn {
  border: 1px solid #121212;
  transition: background-color 0.3s linear;
}

.btn__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1.15vw;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.btn__text--active,
.btn__text--hover {
  position: absolute;
  left: 0;
  width: 100%;
  transition: top 0.2s ease-in-out;
}

.btn__text--active {
  top: 0;
}

.btn__text--hover {
  top: 100%;
}

.btn:hover {
  transition: background-color 0.3s linear;
}

.btn:hover .btn__text {
  transition: top 0.2s ease-in-out;
}

.btn:hover .btn__text--active {
  top: -100%;
}

.btn:hover .btn__text--hover {
  top: 0;
}

.btn:active {
  transition: background-color 0.3s linear;
}

.btn:active .btn__text {
  transition: top 0.2s ease-in-out;
}

.btn:active .btn__text--active {
  top: 0;
}

.btn:active .btn__text--hover {
  top: 100%;
}

.btn__sec {
  background-color: #ffffff;
}

.btn__sec .btn__text--active {
  color: #121212;
}

.btn__sec .btn__text--hover {
  color: #ffffff;
}

.btn__sec:hover {
  background-color: #121212;
}

.btn__sec:active {
  background-color: #ffffff;
}

.btn__pri {
  background-color: #121212;
}

.btn__pri .btn__text {
  color: #ffffff;
}

.btn__pri:hover {
  background-color: #424245;
}

.btn__pri:active {
  background-color: #121212;
}

.btn__ter {
  border: 1px solid #ffffff;
  background-color: transparent;
}

.btn__ter .btn__text--active {
  color: #ffffff;
}

.btn__ter .btn__text--hover {
  color: #424245;
}

.btn__ter:hover {
  background-color: #ffffff;
}

.btn__ter:active .btn__text--active {
  color: #121212;
}

.section__wrapper {
  max-width: 100vw;
  margin: 0 auto;
  border-left: 1px solid #121212;
  border-top: 1px solid #121212;
  border-right: 1px solid #121212;
}

.section__content {
  display: flex;
}

.section__part {
  padding: 5.55vw;
}

.section__part:first-child {
  flex-grow: 1;
}

.section__part:last-child {
  margin-left: auto;
  width: 50vw;
  border-left: 1px solid #121212;
}

.sticky__section {
  position: sticky;
  top: 0;
  height: -moz-fit-content;
  height: fit-content;
}

.contacts__social--wrapper {
  background-color: #ffffff;
  height: 7vw;
}

.contacts__social--title,
.contacts__social--list {
  display: flex;
  margin: 0;
}

.contacts__social--title {
  flex-grow: 1;
}

.contacts__social--item {
  width: 1.5vw;
  height: 1.5vw;
  margin-right: 1.5vw;
  transition: transform 0.1s linear, opacity 0.2s linear;
}

.contacts__social--item:last-child {
  margin: 0;
}

.contacts__social--item:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s linear;
}

.contacts__social--item:active {
  transform: scale(0.8);
  opacity: 1;
  transition: transform 0.1s linear, opacity 0.2s linear;
}

.section__under-nav {
  padding-top: 5vw;
}

.slider__wrapper {
  width: 100%;
  position: relative;
}

.slider__content {
  position: relative;
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  overflow: hidden;
}

.slider__list {
  display: flex;
  transition: transform 0.1s ease-in-out;
}

.slider__btn-arrow {
  position: absolute;
  width: 2vw;
  height: 2vw;
  font-size: 0;
  background-color: transparent;
  background: no-repeat center center;
  background-size: auto 100%;
  transition: opacity 0.1s linear, transform 0.1s linear;
}

.slider__btn-arrow.arrow-left {
  left: 0;
  background-image: url("../images/arrow-left.svg");
}

.slider__btn-arrow.arrow-right {
  right: 0;
  background-image: url("../images/arrow-right.svg");
}

.slider__btn-arrow:hover {
  opacity: 0.5;
  transition: opacity 0.1s linear, transform 0.1s linear;
}

.slider__btn-arrow:active {
  transition: opacity 0.1s linear, transform 0.1s linear;
  opacity: 1;
  transform: scale(0.8);
}

.image--wrapper__hover {
  overflow: hidden;
}

.image--wrapper__hover .image--content__hover {
  transition: transform 0.2s ease-in-out;
}

.image--wrapper__hover:hover .image--content__hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.header.section__wrapper {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  border-right: none;
  border-bottom: 1px solid #121212;
  z-index: 10;
}

.mobile-menu__wrapper {
  display: none;
}

.menu__wrapper {
  width: 100%;
}

.menu__list {
  display: flex;
  height: 5vw;
}

.menu__list .menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.5vw;
  padding: 2.23vw;
  font-weight: 500;
  font-size: 1.12vw;
  color: black;
  border-right: 1px solid #121212;
}

.menu__list .menu__item--to-right {
  margin-left: auto;
  border-left: 1px solid #121212;
}

.menu__link {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 1.2;
  overflow: hidden;
}

.menu__link .link__text {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.menu__link .link__text--hidden {
  position: relative;
  visibility: hidden;
}

.menu__link .link__text--active {
  top: 0;
  transition: top 0.2s linear;
}

.menu__link .link__text--hover {
  top: 100%;
  transition: top 0.2s linear;
}

.menu__link:hover {
  color: #808080;
}

.menu__link:hover .link__text--active {
  top: calc(-100% - 5px);
  color: #121212;
  transition: top 0.2s linear;
}

.menu__link:hover .link__text--hover {
  top: 0;
  transition: top 0.2s linear;
}

.hero__content {
  display: flex;
  position: relative;
}

.hero__part--left {
  padding-top: 0;
  height: -moz-fit-content;
  height: fit-content;
}

.hero__part--right {
  padding: 0;
}

.hero__title--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 25vw;
  padding-top: 5.55vw;
}

.hero__title {
  margin-bottom: 1vw;
}

.hero__title sup {
  line-height: 1;
}

.hero__text {
  font-size: 1.2vw;
  margin-bottom: 2vw;
}

.hero__text--preview {
  font-size: inherit;
  margin-bottom: 0;
}

.hero__preview {
  display: grid;
  width: 100%;
  grid-template-columns: 19.45vw 1fr;
  padding-top: 1.1vw;
  border-top: 1px solid #121212;
}

.hero__preview--section:first-child {
  padding-right: 1.1vw;
  border-right: 1px solid #121212;
}

.hero__preview--section:last-child {
  flex-grow: 1;
  padding-left: 1.1vw;
}

.hero__image--wrapper {
  position: relative;
  height: 18vw;
  overflow: hidden;
}

.hero__image--wrapper .hero__image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - 1.1vw);
  filter: saturate(0);
}

.hero__text--preview {
  display: flex;
  align-items: flex-end;
  padding-right: 1.1vw;
}

.hero-services__list,
.hero-services__item,
.hero-services__item--wrapper {
  display: flex;
}

.hero-services__list {
  flex-direction: column;
}

.hero-services__list .hero-services__item {
  width: 50vw;
  height: 25vw;
  border-bottom: 1px solid #121212;
}

.hero-services__list .hero-services__item .hero-services__image--wrapper {
  border-left: 1px solid #121212;
  border-right: 1px solid #121212;
}

.hero-services__list .hero-services__item .link-arrow {
  display: flex;
  transition: transform 0.2s ease-in-out;
}

.hero-services__list .hero-services__item .link-arrow svg {
  width: 1.5vw;
}

.hero-services__list .hero-services__item .link-arrow--right {
  margin-left: 0.3vw;
}

.hero-services__list .hero-services__item .link-arrow--left {
  margin-right: 0.3vw;
}

.hero-services__list .hero-services__item .hero-services__image {
  width: 25vw;
}

.hero-services__list .hero-services__item:nth-child(2n) {
  flex-direction: row-reverse;
}

.hero-services__list .hero-services__item:nth-child(2n) .hero-services__title--wrapper {
  border-left: 1px solid #121212;
}

.hero-services__list .hero-services__item:nth-child(2n) .hero-services__image--wrapper {
  border-left: none;
  border-right: none;
}

.hero-services__list .hero-services__item:nth-child(2n) .hero-services__link {
  flex-direction: row-reverse;
}

.hero-services__list .hero-services__item:last-child {
  border-bottom: none;
}

.hero-services__list .hero-services__item:last-child .hero-services__image {
  height: 26vw;
  width: auto;
}

.hero-services__list .hero-services__item--wrapper {
  width: 50%;
}

.hero-services__list .hero-services__item:hover .hero-services__image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.hero-services__list .hero-services__item:hover .link-arrow {
  transition: transform 0.2s ease-in-out;
}

.hero-services__list .hero-services__item:hover .link-arrow--right {
  transform: translateX(0.5vw);
}

.hero-services__list .hero-services__item:hover .link-arrow--left {
  transform: translateX(-0.5vw);
}

.hero-services__title--wrapper {
  position: relative;
  justify-content: center;
  align-items: center;
}

.hero-services__title--wrapper .hero-services__title {
  font-size: 2.7vw;
}

.hero-services__title--wrapper .hero-services__link {
  position: absolute;
  bottom: 2vw;
  left: 0;
  font-size: 1.12vw;
  font-weight: 600;
  height: -moz-fit-content;
  height: fit-content;
}

.hero-services__title--wrapper .hero-services__link:hover {
  text-decoration-line: underline;
}

.hero-services__image--wrapper {
  width: 25vw;
}

.hero-services__image--content {
  overflow: hidden;
}

.hero-services__image--content .hero-services__image {
  transition: transform 0.3s ease-in-out;
}

.why__part--right {
  padding: 0;
}

.why__list {
  display: flex;
  flex-direction: column;
}

.why__item {
  padding: 5.55vw;
  border-bottom: 1px solid #121212;
}

.why__item:last-child {
  border-bottom: none;
}

.contacts__content {
  display: grid;
  grid-template-columns: 1fr 50vw;
}

.contacts__part {
  padding: 0;
  height: 50vw;
}

.contacts__part--title {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__form--wrapper,
.contacts__links--wrapper {
  height: 50vw;
}

.tel-warning {
  color: #f55f56;
  display: none;
}

.tel-warning.err-warning {
  display: inline-block;
}

.contacts__links--wrapper {
  display: grid;
  grid-template-columns: 25vw 1fr;
  width: 100%;
}

.contacts__title {
  margin-bottom: 0.85vw;
}

.contacts__text {
  margin-bottom: 0.5vw;
}

.contacts__form {
  display: flex;
  justify-content: space-between;
}

.contacts__input-label {
  width: auto;
  flex-grow: 0.9;
}

.contacts__form--wrapper {
  padding: 5.55vw 5.55vw 0;
  border-bottom: 1px solid #121212;
}

.contacts__links--content {
  display: flex;
  flex-direction: column;
  height: 25vw;
}

.contacts__links--content:first-child {
  border-right: 1px solid #121212;
}

.contacts__link--title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vw;
  border-bottom: 1px solid #121212;
}

.contacts__link--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.contacts__link--content {
  padding-left: 1.5vw;
  font-size: 1.3rem;
}

.contacts__link--content.tel {
  background: url("../images/icon-tel.svg") no-repeat left center;
  background-size: 1vw auto;
}

.contacts__link--content.time {
  padding: 0;
}

.contacts__link--content.geo {
  background: url("../images/icon-pin_drop.svg") no-repeat left center;
  background-size: 1.3vw auto;
}

.contacts__link {
  text-align: center;
}

.contacts__link--content {
  margin-bottom: 1.5vw;
}

.contacts__link--content:last-child {
  margin: 0;
}

.contacts__part--content {
  position: relative;
  overflow: hidden;
}

.contacts__part--content .contacts__image {
  transition: transform 0.2s ease-in-out;
}

.contacts__part--content:hover .contacts__image {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.contacts__wrapper .contacts__social--wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: calc(100% + 1px);
}

.contacts__wrapper .contacts__social--title,
.contacts__wrapper .contacts__social--list {
  justify-content: center;
  align-items: center;
  margin: 0;
}

.contacts__wrapper .contacts__social--list {
  width: 25vw;
  border-left: 1px solid #121212;
}

.service__content {
  flex-direction: column;
}

.service__title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #121212;
  padding: 5.55vw;
}

.service__subscriptions--wrapper {
  display: flex;
  height: 40vw;
  border-bottom: 1px solid #121212;
}

.service__subscriptions--wrapper .section__part:first-child {
  padding: 0;
}

.service__section--title {
  text-transform: uppercase;
}

.service__image--wrapper {
  background: url("../images/subscriptions.png") no-repeat center center;
  background-size: cover;
}

.service__wedding--wrapper {
  height: 50vw;
  border-bottom: 1px solid #121212;
  background: url("../images/wedding.png") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

.service__wedding--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5.55vw;
  background-color: rgba(18, 18, 18, 0.4);
  color: #ffffff;
}

.service__wedding--content .service__text {
  width: 40%;
  text-align: center;
}

.reviews__content {
  padding: 5.55vw;
  border-bottom: 1px solid #121212;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reviews__source--image {
  width: 4vw;
  margin: 0 auto 0.5vw;
}

.reviews__title {
  margin-bottom: 1.5vw;
}

.reviews__list--content {
  width: 80vw;
}

.reviews__item {
  flex: 0 0 80vw;
  padding: 0.5vw;
}

.reviews__text {
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 1vw;
}

.reviews__btn-arrow {
  top: 6vw;
}

.reviews__dots--wrapper {
  margin-bottom: 4vw;
}

.reviews__dots--list {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.reviews__dots--item {
  font-size: 0;
  width: 0.5vw;
  height: 0.5vw;
  margin-right: 0.7vw;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #d2d2d7;
  transition: border 0.1s linear;
}

.reviews__dots--item:last-child {
  margin-right: 0;
}

.reviews__dots--item:hover {
  cursor: pointer;
  border-color: #424245;
  transition: border-color 0.1s linear;
}

.reviews__dots--item.dots__active {
  background-color: #808080;
}

.reviews__btn {
  margin: 0 auto;
}

.footer.section__wrapper {
  border: none;
  border-left: 1px solid #121212;
  border-bottom: 1px solid #121212;
  width: 100%;
}

.footer.section__wrapper h5 {
  text-transform: capitalize;
}

.footer.section__wrapper h5,
.footer.section__wrapper h6 {
  color: #808080;
}

.footer.section__wrapper h6 {
  font-weight: 400;
}

.footer.section__wrapper a {
  justify-content: flex-start;
}

.footer__list--wrapper {
  width: 100%;
}

.footer__list {
  display: grid;
  grid-template-columns: 25vw 1fr 25vw 25vw;
  width: 100%;
}

.footer__item {
  padding: 2.775vw;
  border-right: 1px solid #121212;
}

.footer__item:nth-last-child(2) {
  border-right: none;
}

.footer__item:last-child {
  border-left: 1px solid #121212;
}

.footer__text {
  margin-bottom: 1vw;
}

.remind__input-label,
.footer__subitem {
  margin-bottom: 0.5vw;
}

.remind__form--wrapper .btn {
  width: 100%;
}

.footer__item--section {
  margin-bottom: 1.5vw;
}

.footer__link {
  position: relative;
  height: 1.3vw;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.footer__link span {
  position: absolute;
  left: 0;
}

.footer__link--active {
  top: 0;
  transition: top 0.2s ease-in-out;
}

.footer__link--hover {
  top: 100%;
  transition: top 0.2s ease-in-out;
}

.footer__link:hover .footer__link--active {
  top: -100%;
  transition: top 0.2s ease-in-out;
}

.footer__link:hover .footer__link--hover {
  top: 0;
  transition: top 0.2s ease-in-out;
}

.info__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(18, 18, 18, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: height 0.3s ease-in-out;
  overflow-y: scroll;
}

.info__wrapper--disable {
  height: 0;
  transition: height 0.3s ease-in-out;
  overflow-y: hidden;
}

.info__content {
  width: 50vw;
  padding: 2.775vw;
  background-color: #ffffff;
}

.info__title {
  margin-bottom: 1.5px;
  font-size: 4rem;
}

.info__text {
  font-size: 1rem;
  line-height: 1.2;
}

.info__text--preview,
.info__text--subtitle {
  margin-bottom: 1vw;
}

.info__list {
  margin-bottom: 3vw;
  list-style-type: disc;
  padding-left: 1vw;
}

.info__item {
  margin-bottom: 0.5vw;
}

.info__btn {
  width: 40%;
}

.shop__wrapper {
  border-bottom: 1px solid #121212;
  border-right: none;
}

.shop__content {
  display: grid;
  grid-template-columns: 1fr 50vw;
}

.shop__part {
  padding: 0;
}

.shop__part--preview {
  border-right: 1px solid #121212;
}

.shop__part.shop__part--products {
  border-left: none;
  border-right: 1px solid #121212;
}

.shop__list {
  height: auto;
  border-bottom: #121212;
}

.shop__item {
  position: relative;
  height: 2.5vw;
  border-bottom: 1px solid #121212;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.shop__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(0deg, rgba(18, 18, 18, 0.85) 0%, rgba(18, 18, 18, 0.85) 100%);
  opacity: 1;
}

.shop__item:last-child {
  border-bottom: none;
}

.shop__item:hover {
  cursor: pointer;
}

.shop__item:hover::after {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.shop__item .shop__item--title {
  font-size: 1.5rem;
}

.shop__item--active {
  height: 40vw;
  transition: height 0.3s ease-in-out;
}

.shop__item--active .shop__item--title {
  font-size: 4rem;
}

.shop__item--active:hover {
  cursor: auto;
}

.shop__item--active:hover::after {
  opacity: 1;
}

.shop__item--active::after {
  background: linear-gradient(0deg, rgba(18, 18, 18, 0.35) 0%, rgba(18, 18, 18, 0.35) 100%);
}

.shop__item--title {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #ffffff;
  z-index: 2;
}

.shop__image {
  position: relative;
  width: 100%;
  height: 100%;
  background: no-repeat center center;
  background-size: cover;
}

.shop__image--fresh-flowers {
  background-image: url("../images/shop-fresh-flowers.png");
}

.shop__image--dried-flowers {
  background-image: url("../images/shop-dried-flowers.png");
}

.shop__image--live-plants {
  background-image: url("../images/shop-live-plants.png");
}

.shop__image--aroma-candles {
  background-image: url("../images/shop-aroma-candles.png");
}

.shop__image--fresheners {
  background-image: url("../images/shop-fresheners.png");
}

.shop__sublist {
  display: grid;
  grid-template-columns: calc(25vw + 1px) 1fr;
}

.shop__subitem {
  position: relative;
  display: flex;
  height: 25vw;
  text-align: center;
  border-right: 1px solid #121212;
  border-bottom: 1px solid #121212;
  overflow: hidden;
}

.shop__subitem:nth-child(2n),
.shop__subitem:nth-last-child(2):nth-child(even) {
  border-right: none;
  border-bottom: 1px solid #121212;
}

.shop__subitem:last-child,
.shop__subitem:nth-last-child(2),
.shop__subitem:nth-child(odd):last-child {
  border-bottom: none;
}

.shop__subitem--link {
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: cover;
  transition: transform 0.2s ease-in-out;
  font-size: 0;
}

.shop__subitem--link:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: transform 0.2s ease-in-out;
}

.shop__subitem--info {
  position: absolute;
  left: calc(50% - 10vw);
  bottom: 0;
  width: 20vw;
}

.shop__subtitle {
  margin-bottom: 1vw;
}

.shop__price {
  margin-bottom: 1vw;
  font-size: 0.85rem;
  color: #808080;
}

.shop-item__image {
  padding: 0;
  width: 50vw;
  background: no-repeat center;
  background-size: cover;
}

.shop-item__info {
  padding: 2.5vw;
}

.shop-item__link--wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1.5vw;
}

.shop-item__link--wrapper * {
  width: -moz-fit-content;
  width: fit-content;
}

.shop-item__current {
  color: #808080;
}

.shop-item__title--wrapper {
  margin-bottom: 1vw;
}

.shop-item__text,
.shop-item__quantity--wrapper {
  margin-bottom: 1.5vw;
}

.shop-item__quantity--wrapper {
  display: flex;
  align-items: center;
}

.shop-item__quantity {
  margin-right: 1vw;
}

.shop-item__count--wrapper {
  display: flex;
  align-items: center;
  height: 3vw;
}

.count__part {
  width: 3vw;
  height: 100%;
  background-color: #ffffff;
}

.shop-item__count {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d2d2d7;
  border-bottom: 1px solid #d2d2d7;
}

.shop-item__btn {
  border: 1px solid #d2d2d7;
  transition: border-color 0.2s ease-in-out;
}

.shop-item__btn:active {
  border-color: #121212;
  transition: border-color 0.2s ease-in-out;
}

.shop-item__link {
  text-transform: capitalize;
}

.shop-item__additional--text {
  margin-bottom: 0.75vw;
}

.shop-item__sublist--wrapper {
  position: relative;
  padding: 0 2.5vw;
  margin-bottom: 2vw;
}

.shop-item__sublist--wrapper .shop-item__btn-arrow {
  top: 5vw;
}

.shop-item__sublist--content {
  position: relative;
  overflow: hidden;
}

.shop-item__sublist {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transition: left 0.2s ease-in-out;
}

.shop-item__subitem {
  display: flex;
  flex-direction: column;
  flex-basis: 0 0 6.9vw;
  width: 6.9vw;
  margin-right: 1vw;
}

.shop-item__subitem:last-child {
  margin-right: 0;
}

.shop-item__subitem:hover {
  cursor: pointer;
}

.shop-item__subitem:hover .shop-item__sublink {
  border-color: #121212;
  transition: border-color 0.2s ease-in;
}

.shop-item__sublink {
  height: 6.9vw;
  border: 1px solid #d2d2d7;
  transition: border-color 0.2s ease-out;
  background: no-repeat center center;
  background-size: cover;
}

.shop-item__sublink,
.shop-item__subtitle {
  margin-bottom: 0.4vw;
}

.shop-item__subtitle {
  font-size: 0.6rem;
  text-transform: capitalize;
}

.shop-item__subprice {
  margin-top: auto;
}

.shop-item__options--title {
  text-transform: 1vw;
  margin-bottom: 1vw;
}

.price-options__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vw;
}

.price-options__item {
  margin-bottom: 1vw;
}

.price-options__item:last-child {
  margin-bottom: 0;
}

.price-options__input {
  display: none;
}

.price-options__input:checked + .price-options__label::before {
  background-color: #121212;
  transition: background-color 0.2s ease-in-out;
}

.price-options__label {
  position: relative;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  min-height: auto;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 3vw;
}

.price-options__label:hover {
  cursor: pointer;
}

.price-options__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -25%;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  box-sizing: border-box;
  outline: 1px solid #121212;
  border: 0.4vw solid #d2d2d7;
  background-color: #d2d2d7;
  transition: background-color 0.2s ease-in-out;
}

.price-options__submit {
  width: 100%;
}

.additional__wrapper,
.additional__preview {
  border-bottom: 1px solid #121212;
  border-right: none;
}

.additional__preview {
  text-align: center;
  padding: 3vw 0;
  border-right: 1px solid #121212;
}

.additional__list {
  display: grid;
  grid-template-columns: 25vw 1fr 25vw 25vw;
  grid-template-rows: 25vw;
}

.additional__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #121212;
}

.additional__item:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s linear;
}

.additional__item:nth-last-child(2) {
  border-right: none;
}

.additional__item:last-child {
  border-left: 1px solid #121212;
}

.additional__link {
  padding-bottom: 0.5vw;
  background: no-repeat center center;
  background-size: cover;
  transition: opacity 0.2s linear;
}

.additional__title {
  margin-top: auto;
  font-size: 1.7rem;
  text-align: center;
  text-transform: uppercase;
}

.additional__title,
.additional__price--wrapper {
  margin-bottom: 0.5vw;
}

.aboutus__content {
  flex-direction: column;
}

.aboutus__parts--wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #121212;
}

.aboutus__part,
.aboutus__founder,
.aboutus__content--shoplink {
  padding: 5vw;
}

.aboutus__part:first-child {
  border-right: 1px solid #121212;
}

.aboutus__img {
  height: 50vw;
  background: center center no-repeat;
  background-size: cover;
}

.aboutus__story {
  text-align: center;
}

.aboutus__story.aboutus__part {
  border-right: none;
}

.aboutus__story + .aboutus__img {
  border-left: 1px solid #121212;
  background-image: url("../images/aboutus-story.png");
}

.aboutus__title,
.aboutus__text {
  line-height: 1.5;
  margin-bottom: 3vw;
}

.aboutus__social .contacts__social--list {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}

.aboutus__social .contacts__social--list .contacts__social--item {
  width: 3vw;
}

.aboutus__founder {
  text-align: center;
}

.aboutus__founder .aboutus__text {
  width: 70%;
  margin: 0 auto;
}

.aboutus__item:last-child {
  border-bottom: none;
}

.aboutus__item:nth-child(even) .aboutus__part:first-child {
  border: none;
}

.aboutus__item:nth-child(even) .aboutus__img {
  position: relative;
}

.aboutus__item:nth-child(even) .aboutus__img::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  left: -1px;
  top: 0;
  background-color: #121212;
}

.aboutus__item .aboutus__text {
  margin: 0;
}

.aboutus__img1 {
  background-image: url("../images/aboutus-img1.png");
}

.aboutus__img2 {
  background-image: url("../images/aboutus-img2.png");
}

.aboutus__img3 {
  background-image: url("../images/aboutus-img3.png");
}

.aboutus__content--shoplink {
  text-align: center;
  border-bottom: 1px solid #121212;
}

.aboutus__content--shoplink .aboutus__title {
  margin-bottom: 1vw;
}

.aboutus__content--shoplink .aboutus__text,
.aboutus__content--shoplink .aboutus__shoplink {
  margin: 0 auto;
}

.aboutus__content--shoplink .aboutus__text {
  width: 50%;
  margin-bottom: 3vw;
}

.subscription .section__wrapper:last-child,
.how-subscribe__item:not(:last-child) {
  border-bottom: 1px solid #121212;
}

.subscribe__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flower-subscribe__story,
.how-subscribe__list--wrapper,
.plan-subscribe__img-wrapper {
  border-left: 1px solid #121212;
}

.flower-subscribe__img {
  height: 50vw;
  background: url("../images/subscriptions-flower.png") no-repeat top center;
  background-size: cover;
}

.flower-subscribe__story,
.how-subscribe__title--wrapper,
.how-subscribe__item {
  padding: 5vw;
}

.flower-subscribe__item {
  margin-bottom: 2vw;
}

.flower-subscribe__item:last-child {
  margin: 0;
}

.flower-subscribe__title {
  margin-bottom: 2.5vw;
}

.flower-subscribe__text {
  position: relative;
  text-align: justify;
}

.plan-subscribe__title--wrapper {
  padding: 5vw 2.5vw;
}

.plan-subscribe__title,
.plan-subscribe__text {
  margin-bottom: 2.5vw;
}

.plan-subscribe__plan--wrapper {
  padding: 2.5vw 0;
  border-bottom: 1px solid #d2d2d7;
}

.plan-subscribe__plan--wrapper:last-of-type {
  margin-bottom: 2.5vw;
}

.plan-item__checkout {
  width: 100%;
}

.plan__list {
  padding-top: 0;
}

.plan-subscribe__img {
  width: 100%;
  height: 50vw;
}

.plan-subscribe__item {
  margin-bottom: 2vw;
  width: 100%;
}

.plan-subscribe__item:last-child {
  margin-bottom: 0;
}

.plan-item__content--wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #d2d2d7;
  border-bottom: none;
}

.plan-item__content--wrapper.selected {
  border-color: #121212;
  transition: border-color 0.3s linear;
}

.plan-item__content--wrapper.selected .plan-item__img {
  border-right-color: #121212;
  transition: border-right-color 0.3s linear;
}

.plan-item__img {
  border-right: 1px solid #d2d2d7;
  background: no-repeat center center;
  background-size: cover;
}

.plan-item__img.bouquet-1 {
  background-image: url("../images/plan-item-bouquet-1.png");
}

.plan-item__img.bouquet-2 {
  background-image: url("../images/plan-item-bouquet-2.png");
}

.plan-item__img.bouquet-3 {
  background-image: url("../images/plan-item-bouquet-3.png");
}

.plan-item__content {
  padding: 1.5vw;
}

.plan-item__sublist {
  list-style: disc;
  padding-left: 1.5vw;
}

.plan-item__subitem {
  line-height: 1.5;
}

.plan-item__select {
  width: 100%;
}

.plan-subscribe__img {
  background: url("../images/subscriptions.png") no-repeat center center;
  background-size: cover;
  border-bottom: 1px solid #121212;
}

.plan-subscribe__howoften {
  display: flex;
  justify-content: space-between;
}

.plan-subscribe__input {
  width: 0;
  height: 0;
  display: none;
}

.plan-subscribe__input:checked + .plan-subscribe__label {
  background-color: #121212;
}

.plan-subscribe__input:checked + .plan-subscribe__label .btn__text--active {
  color: white;
}

.plan-subscribe__label:hover {
  cursor: pointer;
}

.plan-subscribe__count--wrapper {
  position: relative;
  display: flex;
}

.plan-subscribe__count--wrapper::after {
  content: "10 is the maximum";
  position: absolute;
  left: 0;
  bottom: -1.5vw;
  font-size: 1vw;
  font-style: italic;
}

.plan-item__count {
  width: 4vw;
}

.plan-subscribe__count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  border-top: 1px solid #121212;
  border-bottom: 1px solid #121212;
}

.subscribe__faq {
  padding: 2.5vw;
  grid-template-columns: 1fr;
  background-color: #d2d2d7;
}

.faq__list--wrapper {
  padding: 3.5vw;
  margin: 0 auto;
  width: 70vw;
  border: 1px solid #121212;
  background-color: #ffffff;
}

.faq__title {
  text-align: center;
  margin-bottom: 4vw;
}

.faq__item {
  position: relative;
  padding: 2vw 0 0;
  border-bottom: 1px solid #121212;
}

.faq__item:hover {
  cursor: pointer;
}

.faq__icon {
  position: absolute;
  top: 2.5vw;
  right: 0;
  width: 1.2vw;
  height: 1.2vw;
}

.faq__subtitle {
  margin-bottom: 0;
}

.faq__text {
  margin-bottom: 2vw;
  height: 0;
  overflow: hidden;
  text-align: justify;
  transition: height 0.3s ease-in-out;
}

.faq__item.faq__active .faq__icon {
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
}

.faq__item.faq__active .faq__text {
  transition: height 0.3s ease-in-out;
}

.signin__wrapper {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100vw;
  height: 0;
  padding-top: 5.5vw;
  background-color: rgba(18, 18, 18, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 20;
  transition: top 0.3s linear, height 0.3s linear;
  overflow: hidden;
}

.signin__wrapper--active {
  top: 0;
  height: 100vh;
  transition: top 0.3s linear, height 0.3s linear;
}

.signin__content {
  max-width: 768px;
  padding: 2.5vw;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #121212;
}

.signin__title {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.signin__title,
.signin__text,
.signin__input {
  margin-bottom: 2vw;
}

.signin__input {
  height: 50px;
}

.signin__submit {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .reviews__content {
    padding: 40px;
  }

  .reviews__source--image {
    width: 80px;
    margin-bottom: 10px;
  }

  .reviews__title {
    margin-bottom: 24px;
  }

  .reviews__list--content {
    width: 75vw;
  }

  .reviews__item {
    flex: 0 0 75vw;
    padding: 8px;
  }

  .reviews__text {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .reviews__btn-arrow {
    top: 50px;
    width: 24px;
    height: 24px;
  }

  .reviews__dots--item {
    width: 6px;
    height: 6px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }

  h1 {
    font-size: 3.3rem;
  }

  h2 {
    font-size: 2.9rem;
    margin-bottom: 24px;
  }

  h3 {
    font-size: 2.3rem;
    margin-bottom: 16px;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 0.85rem;
    margin-bottom: 24px;
  }

  input {
    padding: 16px;
  }

  .section__text-near-btn {
    margin-bottom: 50px;
  }

  button,
  .btn {
    width: 180px;
    height: 56px;
    font-size: 1rem;
  }

  .slider__btn-arrow {
    width: 20px;
    height: 20px;
  }

  .btn__text {
    height: 1rem;
  }

  .section__content {
    flex-wrap: wrap;
  }

  .section__part {
    padding: 40px;
  }

  .section__part:last-child {
    margin-left: 0;
    width: 100%;
    border-left: none;
  }

  .shop__part--preview.section__part,
  .shop__part--products.section__part,
  .hero-services__list-wrapper.section__part,
  .why-services__list-wrapper.section__part,
  .contacts__part--title.section__part,
  .contacts__part--content.section__part {
    padding: 0;
  }

  .sticky__section {
    position: static;
    top: auto;
  }

  .contacts__social--wrapper {
    height: -moz-fit-content;
    height: fit-content;
  }

  .contacts__social--item {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }

  .section__under-nav {
    padding-top: 53px;
  }

  .header.section__wrapper {
    border-bottom: none;
  }

  .menu__wrapper {
    border-right: 1px solid #121212;
  }

  .menu__list {
    display: none;
  }

  .mobile-menu__wrapper {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }

  .mobile-menu__control {
    display: flex;
    position: absolute;
    top: -1px;
    left: 0;
    justify-content: space-between;
    width: 100%;
    height: 54px;
    border-top: 1px solid #121212;
    border-bottom: 1px solid #121212;
    border-right: 1px solid #121212;
    z-index: 10;
    background-color: #ffffff;
  }

  .mobile-menu__control--section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
  }

  .mobile-menu__control--section:hover {
    cursor: pointer;
  }

  .mobile-menu__open {
    border-right: 1px solid #121212;
    position: relative;
  }

  .mobile-menu__open::after,
  .mobile-menu__open::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 13px);
    width: 24px;
    height: 2px;
    background-color: #121212;
    transform: rotate(0);
    transition: box-shadow 0.3s linear 0.5s, transform 0.5s ease-in-out;
  }

  .mobile-menu__open::after {
    box-shadow: 0 -6px 0 0 #121212, 0 6px 0 0 #121212;
  }

  .mobile-menu__open.close-btn::after {
    box-shadow: 0 0 0 0 #121212, 0 0 0 0 #121212;
  }

  .mobile-menu__open.close-btn::after {
    transform: rotate(-405deg);
    transition: box-shadow 0.3s linear, transform 0.5s ease-in-out 0.3s;
  }

  .mobile-menu__open.close-btn::before {
    transform: rotate(-135deg);
    transition: box-shadow 0.3s linear, transform 0.5s ease-in-out 0.3s;
  }

  .mobile-menu__shop {
    border-left: 1px solid #121212;
  }

  .mobile-menu__list,
  .mobile-menu__sublist {
    display: flex;
    flex-direction: column;
  }

  .mobile-menu__list {
    position: absolute;
    top: -550px;
    width: 100%;
    height: auto;
    border-right: 1px solid #121212;
    background-color: #ffffff;
    transition: top 0.8s ease-in-out;
  }

  .mobile-menu__list.opened {
    top: 53px;
    transition: top 0.8s ease-in-out;
  }

  .mobile-menu__sublist {
    padding: 24px;
    width: 100%;
  }

  .mobile-menu__item {
    border-bottom: 1px solid #121212;
  }

  .mobile-menu__item.sublist__wrapper {
    height: auto;
  }

  .mobile-menu__item,
  .mobile-menu__subitem {
    display: flex;
    align-items: center;
    background-color: #ffffff;
  }

  .mobile-menu__subitem {
    margin-bottom: 16px;
  }

  .mobile-menu__subitem:last-child {
    margin-bottom: 0;
  }

  .mobile-menu__link {
    height: 54px;
    padding: 24px;
  }

  .mobile-menu__link,
  .mobile-menu__sublink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .mobile-menu__sublink {
    font-size: 0.8rem;
  }

  .mobile-menu__item .contacts__social--list {
    height: 54px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
  }

  .mobile-menu__item .contacts__social--list .contacts__social--item {
    width: 30px;
    height: 30px;
    margin-right: 24px;
  }

  .mobile-menu__item .contacts__social--list .contacts__social--item:last-child {
    margin-right: 0;
  }

  .hero__preview {
    grid-template-columns: 1fr 1fr;
  }

  .hero__title--wrapper {
    height: auto;
    padding-top: 120px;
  }

  .hero__title {
    margin-bottom: 16px;
  }

  .hero__text {
    font-size: inherit;
  }

  .hero__preview {
    grid-template-rows: 37vw;
  }

  .hero__image--wrapper {
    height: 100%;
  }

  .hero__image--wrapper .hero__image {
    bottom: -50px;
  }

  .hero-services__list {
    border-top: 1px solid #121212;
  }

  .hero-services__list .hero-services__item {
    width: 100%;
    height: 45vw;
  }

  .hero-services__list .hero-services__item .hero-services__title--wrapper {
    padding: 16px;
    text-align: center;
  }

  .hero-services__list .hero-services__item .hero-services__image--wrapper {
    border-right: none;
  }

  .hero-services__list .hero-services__item .hero-services__title {
    font-size: 2.5rem;
  }

  .hero-services__list .hero-services__item .link-arrow svg {
    width: 24px;
  }

  .hero-services__list .hero-services__item .hero-services__link {
    font-size: inherit;
  }

  .hero-services__list .hero-services__item .hero-services__image--content,
  .hero-services__list .hero-services__item .hero-services__image--link,
  .hero-services__list .hero-services__item .hero-services__image,
  .hero-services__list .hero-services__item:last-child .hero-services__image {
    width: 100%;
    height: 100%;
  }

  .about__part--title {
    border-bottom: 1px solid #121212;
  }

  .about__title {
    margin-bottom: 0;
  }

  .why__part--left {
    border-bottom: 1px solid #121212;
  }

  .why__title {
    margin-bottom: 0;
  }

  .why__item {
    padding: 40px;
  }

  .contacts__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .contacts__part {
    width: 100%;
    height: auto;
  }

  .contacts__part--content {
    order: 1;
    height: 75vw;
  }

  .contacts__social--wrapper {
    border-bottom: 1px solid #121212;
    height: 78px;
  }

  .contacts__wrapper .contacts__social--title,
  .contacts__wrapper .contacts__social--list {
    width: 50%;
  }

  .contacts__wrapper .contacts__social--list {
    padding: 0 24px;
    justify-content: space-between;
  }

  .contacts__form--wrapper,
  .contacts__links--wrapper {
    height: auto;
  }

  .contacts__links--wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .contacts__part--title {
    order: 2;
  }

  .contacts__form--wrapper {
    padding: 40px;
  }

  .contacts__form--wrapper .contacts__input-label,
  .contacts__form--wrapper .btn__pri {
    width: auto;
  }

  .contacts__form {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    gap: 16px;
  }

  .contacts__title {
    margin-bottom: 24px;
  }

  .contacts__text {
    margin-bottom: 16px;
  }

  .contacts__input-label {
    flex-grow: unset;
    height: 56px;
  }

  .contacts__input-label input {
    width: 100%;
    height: 100%;
    font-size: 14px;
  }

  .contacts__links--content {
    height: auto;
  }

  .contacts__link--title {
    width: 100%;
    height: auto;
    padding: 16px;
  }

  .contacts__link--wrapper {
    height: 40vw;
  }

  .contacts__link--content {
    padding-left: 24px;
    font-size: inherit;
  }

  .contacts__link--content.tel,
  .contacts__link--content.geo {
    background-size: contain;
  }

  .service__title,
  .service__wedding--content {
    padding: 40px;
    margin: 0;
  }

  .service__subscriptions--wrapper {
    flex-direction: column;
    height: auto;
    border-bottom: 1px solid #121212;
  }

  .service__image--wrapper,
  .service__wedding--wrapper {
    width: 100%;
  }

  .service__image--wrapper {
    height: 500px;
    background-position: left top;
    border-bottom: 1px solid #121212;
  }

  .service__section--title {
    margin-bottom: 24px;
    font-size: 14px;
  }

  .service__part--content {
    text-align: center;
  }

  .service__part--content .btn {
    margin: 0 auto;
    height: 56px;
  }

  .service__wedding--wrapper {
    height: 400px;
  }

  .service__wedding--content .service__text {
    width: 90%;
  }

  .reviews__content {
    padding: 40px;
  }

  .reviews__source--image {
    width: 80px;
    margin-bottom: 10px;
  }

  .reviews__title {
    margin-bottom: 26px;
  }

  .reviews__list--content {
    width: 80vw;
  }

  .reviews__item {
    flex: 0 0 80vw;
    padding: 8px;
  }

  .reviews__text {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .reviews__btn-arrow {
    top: 50px;
    width: 24px;
    height: 24px;
  }

  .reviews__btn-arrow.arrow-left {
    left: -10px;
  }

  .reviews__btn-arrow.arrow-right {
    right: -10px;
  }

  .reviews__dots--item {
    width: 6px;
    height: 6px;
  }

  .footer.section__wrapper {
    border-bottom: none;
  }

  .footer__list {
    grid-template-columns: 1fr 1fr;
    border-right: 1px solid #121212;
  }

  .footer__item {
    padding: 40px;
    border: none;
    border-right: 1px solid #121212;
    border-bottom: 1px solid #121212;
  }

  .footer__item:nth-child(2n) {
    border-right: none;
  }

  .footer__item:nth-last-child(2) {
    border-right: 1px solid #121212;
  }

  .footer__item:last-child {
    border-left: none;
  }

  .footer__item .contacts__social--wrapper {
    border: none;
  }

  .footer__item .contacts__social--wrapper .contacts__social--title {
    margin-bottom: 8px;
  }

  .footer__item .contacts__social--wrapper .contacts__social--list {
    justify-content: space-between;
  }

  .footer__text,
  .footer__item--section {
    margin-bottom: 24px;
  }

  .footer__title {
    margin-bottom: 16px;
  }

  .remind__input-label {
    height: 56px;
  }

  .remind__input-label input {
    height: 100%;
  }

  .remind__input-label,
  .footer__subitem {
    margin-bottom: 8px;
  }

  .footer__link {
    height: 16px;
  }

  .info__content {
    width: 85vw;
    padding: 10px;
  }

  .info__title {
    margin-bottom: 8px;
    font-size: 3rem;
  }

  .info__text {
    font-size: 0.85rem;
    line-height: 1.1;
  }

  .info__text--preview,
  .info__text--subtitle {
    margin-bottom: 4px;
  }

  .info__list {
    margin-bottom: 16px;
    list-style-type: disc;
    padding-left: 16px;
  }

  .info__item {
    margin-bottom: 4px;
  }

  .info__btn {
    width: 50%;
  }

  .shop__content {
    grid-template-columns: 1fr;
  }

  .shop__list {
    display: flex;
    flex-direction: column;
    height: auto;
    border-bottom: #121212;
  }

  .shop__item {
    height: 30px;
  }

  .shop__item .shop__item--title {
    font-size: 1.3rem;
  }

  .shop__item--active {
    height: 300px;
  }

  .shop__item--active .shop__item--title {
    font-size: 4rem;
  }

  .shop__sublist {
    grid-template-columns: 1fr 1fr;
  }

  .shop__subitem {
    height: 50vw;
    text-align: center;
    border-right: 1px solid #121212;
    border-bottom: 1px solid #121212;
    background: no-repeat center;
    background-size: cover;
  }

  .shop__subitem:nth-child(2n),
  .shop__subitem:nth-last-child(2):nth-child(even) {
    border-right: none;
    border-bottom: 1px solid #121212;
  }

  .shop__subitem:last-child,
  .shop__subitem:nth-last-child(2),
  .shop__subitem:nth-child(odd):last-child {
    border-bottom: none;
  }

  .shop__subitem--info {
    left: calc(50% - 100px);
    width: 200px;
  }

  .shop-item__image {
    height: 80vw;
    border-bottom: 1px solid #121212;
  }

  .shop-item__count--wrapper {
    width: 146px;
    height: 44px;
  }

  .shop-item__count--wrapper .count__part {
    width: 44px;
    height: 100%;
  }

  .shop-item__subitem {
    flex-basis: 0 0 100px;
    width: 100px;
    margin-right: 16px;
  }

  .shop-item__sublist--wrapper .shop-item__btn-arrow {
    top: calc(50% - 10px);
  }

  .shop-item__sublink {
    height: 100px;
  }

  .price-options__label {
    padding-left: 24px;
  }

  .price-options__label::before {
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    position: absolute;
    border-width: 3px;
  }

  .additional__wrapper,
  .additional__preview {
    border-right: 1px solid #121212;
  }

  .additional__preview {
    border-right: none;
  }

  .additional__preview--title {
    margin: 0;
  }

  .additional__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vw 50vw;
  }

  .additional__item,
  .additional__item:last-child {
    border: none;
  }

  .additional__item:nth-child(odd) {
    border-right: 1px solid #121212;
  }

  .additional__item:first-child,
  .additional__item:nth-child(2) {
    border-bottom: 1px solid #121212;
  }

  .aboutus__parts--wrapper {
    grid-template-columns: 1fr;
  }

  .aboutus__story {
    border-bottom: 1px solid #121212;
  }

  .aboutus__story + .aboutus__img {
    border-left: none;
  }

  .aboutus__title,
  .aboutus__text {
    line-height: 1.3;
  }

  .aboutus__social {
    border: none;
    height: auto;
  }

  .aboutus__item .aboutus__img {
    border: none;
    border-bottom: 1px solid #121212;
  }

  .aboutus__item .aboutus__img::before {
    display: none;
  }

  .aboutus__item:nth-child(even) {
    display: flex;
    flex-direction: column-reverse;
  }

  .aboutus__content--shoplink .aboutus__text {
    width: 80%;
    margin-bottom: 3vw;
  }

  .subscribe__content {
    grid-template-columns: 1fr;
  }

  .flower-subscribe__story,
  .how-subscribe__list--wrapper,
  .plan-subscribe__img-wrapper {
    border-left: none;
  }

  .subscribe__title {
    margin-bottom: 2vw;
  }

  .subscribe__item-title {
    margin-bottom: 1vw;
  }

  .how-subscribe__title--wrapper {
    border-bottom: 1px solid #121212;
  }

  .how-subscribe__title {
    margin-bottom: 0;
  }

  .plan-subscribe__img-wrapper {
    order: 1;
  }

  .plan-subscribe__title--wrapper {
    order: 2;
  }

  .plan-subscribe__img {
    background-position-y: top;
  }

  .plan-subscribe__text {
    text-align: justify;
  }

  .plan-item__content {
    padding: 15px;
  }

  .plan-item__sublist {
    padding-left: 15px;
  }

  .plan-subscribe__label.btn {
    width: 30%;
  }

  .plan-subscribe__plan--wrapper {
    padding: 16px 0;
  }

  .plan-subscribe__plan--wrapper:last-of-type {
    margin-bottom: 16px;
  }

  .btn.plan-item__count {
    width: 56px;
  }

  .btn__subscribe {
    height: 56px;
  }

  .plan-subscribe__count {
    width: 60px;
  }

  .plan-subscribe__count--wrapper::after {
    bottom: -12px;
    font-size: 10px;
  }

  .subscribe__faq {
    padding: 24px;
  }

  .faq__list--wrapper {
    padding: 36px 24px;
    width: 90%;
  }

  .faq__item {
    padding-top: 20px;
  }

  .faq__icon {
    top: 24px;
    width: 18px;
    height: 18px;
  }

  .faq__subtitle {
    width: calc(100% - 20px);
    font-size: 20px;
  }

  .faq__item.faq__active .faq__subtitle {
    margin-bottom: 10px;
  }

  .signin__wrapper {
    padding-top: 60px;
  }

  .signin__content {
    padding: 40px;
  }

  .signin__title,
  .signin__text,
  .signin__input {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 630px) {
  .footer__email {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 525px) {
  html {
    font-size: 14px;
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.85rem;
    margin-bottom: 16px;
  }

  input {
    padding: 8px;
  }

  .section__part {
    padding: 24px 16px;
  }

  .section__text-near-btn {
    margin-bottom: 25px;
  }

  button,
  .btn {
    width: 100%;
  }

  .section__part {
    padding: 24px 16px;
  }

  .hero__title--wrapper {
    padding-top: 80px;
  }

  .hero__image--wrapper {
    height: 100%;
  }

  .hero__image--wrapper .hero__image {
    bottom: -30px;
  }

  .hero__text--preview {
    font-size: 0.8rem;
  }

  .hero-services__list .hero-services__item .hero-services__title {
    font-size: 1.8rem;
  }

  .hero-services__list .hero-services__item .link-arrow svg {
    width: 18px;
  }

  .why__item {
    padding: 24px 16px;
  }

  .contacts__part--content {
    height: -moz-fit-content;
    height: fit-content;
  }

  .contacts__social--wrapper {
    flex-direction: column;
    height: auto;
  }

  .contacts__wrapper .contacts__social--wrapper {
    left: -1px;
  }

  .contacts__wrapper .contacts__social--title,
  .contacts__wrapper .contacts__social--list {
    width: 100%;
    padding: 8px;
  }

  .contacts__wrapper .contacts__social--title {
    justify-content: flex-start;
    padding-bottom: 0;
    padding-left: 14px;
  }

  .contacts__wrapper .contacts__social--list {
    padding-top: 4px;
  }

  .contacts__form--wrapper {
    padding: 24px 16px;
  }

  .contacts__form {
    grid-template-columns: 1fr;
    gap: 8px;
  }

  .contacts__title {
    margin-bottom: 16px;
  }

  .contacts__text {
    margin-bottom: 8px;
  }

  .contacts__links--wrapper {
    grid-template-columns: 1fr;
  }

  .contacts__links--wrapper .contacts__links--content:first-child {
    padding: 0;
    border-right: none;
    border-bottom: 1px solid #121212;
  }

  h3.contacts__link--title,
  .contacts__link--title {
    margin: 0;
  }

  .contacts__link--wrapper {
    height: auto;
    padding: 40px 16px;
  }

  .contacts__link--content {
    padding-left: 24px;
    margin-bottom: 16px;
  }

  .contacts__link--content:last-child {
    margin: 0;
  }

  .service__title {
    padding: 24px 16px;
  }

  .service__wedding--content {
    padding: 16px;
  }

  .service__image--wrapper,
  .service__wedding--wrapper {
    height: 350px;
  }

  .service__section--title {
    margin-bottom: 16px;
  }

  .reviews__content {
    padding: 24px 16px;
  }

  .reviews__source--image {
    width: 60px;
  }

  .reviews__title {
    margin-bottom: 16px;
  }

  .reviews__text {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .reviews__dots--item {
    width: 6px;
    height: 6px;
  }

  .footer__list {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .footer__item {
    padding: 24px 16px;
  }

  .footer__item:nth-child(odd) {
    border-right: none;
  }

  .footer__email {
    font-size: 1rem;
  }

  .footer__text,
  .footer__item--section {
    margin-bottom: 24px;
  }

  .footer__title {
    margin-bottom: 16px;
  }

  .remind__input-label {
    height: 56px;
  }

  .remind__input-label input {
    height: 100%;
  }

  .remind__input-label,
  .footer__subitem {
    margin-bottom: 8px;
  }

  .info__btn {
    width: 100%;
  }

  .shop__item {
    border: none;
  }

  .shop__sublist {
    grid-template-columns: 1fr;
  }

  .shop__subitem {
    height: 80vw;
    text-align: center;
    border-right: none;
  }

  .shop__subitem:nth-last-child(2) {
    border-bottom: 1px solid #121212;
  }

  .shop__subtitle {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .shop__price {
    font-size: 1rem;
    color: #808080;
  }

  .shop__subitem--info {
    left: calc(50% - 150px);
    width: 300px;
  }

  .faq__icon {
    width: 16px;
    height: 16px;
  }

  .faq__subtitle {
    font-size: 16px;
  }

  .faq__item.faq__active .faq__subtitle {
    margin-bottom: 10px;
  }
}