.why__part--right {
  padding: 0;
}

.why__list {
  display: flex;;
  flex-direction: column;
}

.why__item {
  padding: $sectionPadding;
  border-bottom: $borderBlack;

  &:last-child {
    border-bottom: none;
  }
}


//laptop 1280
@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 768px) {
  .why__part--left {
    border-bottom: $borderBlack;
  }

  .why__title {
    margin-bottom: 0;
  }

  .why__item {
    padding: 40px;
  }
}

@media screen and (max-width: 525px) {
  .why__item {
    padding: 24px 16px;
  }
}