.contacts__content {
  display: grid;
  grid-template-columns: 1fr 50vw;
}

.contacts__part {
  padding: 0;
  height: 50vw;
}

.contacts__part--title {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__form--wrapper,
.contacts__links--wrapper {
  height: 50vw;
}

.contacts__links--wrapper {
  display: grid;
  grid-template-columns: 25vw 1fr;
  width: 100%;
}

.contacts__title {
  margin-bottom: $titleMarginBtm;
}

.contacts__text {
  margin-bottom: 0.5vw;
}

.contacts__form {
  display: flex;
  justify-content: space-between;
}

.contacts__input-label {
  width: auto;
  flex-grow: 0.9;
}

.contacts__form--wrapper {
  padding: $sectionPadding $sectionPadding 0;
  border-bottom: $borderBlack;
}

.contacts__links {
  // &--wrapper {
  //   display: flex;
  // }

  &--content {
    display: flex;
    flex-direction: column;
    height: 25vw;

    &:first-child {
      border-right: $borderBlack;
    }
  }
}

.contacts__link--title {
  @include flex-center();
  height: 4vw;
  border-bottom: $borderBlack;
}

.contacts__link--wrapper {
  @include flex-center();
  flex-direction: column;
  flex-grow: 1;
}

.contacts__link--content {
  padding-left: 1.5vw;
  font-size: 1.3rem;
  // background-size: 20px 10px;

  &.tel {
    background: url('../images/icon-tel.svg') no-repeat left center;
    background-size: 1vw auto;
  }

  &.time {
    padding: 0;
  }

  &.geo {
    background: url('../images/icon-pin_drop.svg') no-repeat left center;
    background-size: 1.3vw auto;
  }
}

.contacts__link {
  text-align: center;

  &--content {
    margin-bottom: 1.5vw;

    &:last-child {
      margin: 0;
    }
  }
}

.contacts__part--content {
  position: relative;
  overflow: hidden;
  
  & .contacts__image {
    transition: transform 0.2s ease-in-out;
  }

  &:hover .contacts__image {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
}

.contacts__wrapper .contacts__social {
  &--wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;;
    width: calc(100% + 1px);
  }

  &--title,
  &--list {
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  &--list {
    width: 25vw;
    border-left: $borderBlack;
  }
}

