$reviewsListWidth: 80vw;
$reviewsHeight: 14vw;

.reviews__content {
  padding: $sectionPadding;
  border-bottom: $borderBlack;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reviews__source--image {
  width: 4vw;
  margin: 0 auto 0.5vw;
}

.reviews__title {
  margin-bottom: 1.5vw;
}

.reviews__list--wrapper {
  
}

.reviews__list--content {
  width: $reviewsListWidth;
}

.reviews__list {
  
}

.reviews__item {
  flex: 0 0 $reviewsListWidth;
  padding: 0.5vw;
}

.reviews__text {
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 1vw;
}

.reviews__btn-arrow {
  top: calc($reviewsHeight / 2 - 1vw);
}

.reviews__dots {
  &--wrapper {
    margin-bottom: 4vw;
  }

  &--list {
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }

  &--item {
    font-size: 0;
    width: 0.5vw;
    height: 0.5vw;
    margin-right: 0.7vw;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: $grayLight;
    transition: border 0.1s linear;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
      border-color: $grayDark;
      transition: border-color 0.1s linear;
    }

    &.dots__active {
      background-color: $gray;
    }
  }
}

.reviews__btn {
  margin: 0 auto
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1280px) {
  $reviewsListWidth : 75vw;
  .reviews__content {
    padding: 40px;
  }

  .reviews__source--image {
    width: 80px;
    margin-bottom: 10px;
  }

  .reviews__title {
    margin-bottom: 24px;
  }
  
  .reviews__list--content {
    width: $reviewsListWidth;
  }

  .reviews__item {
    flex: 0 0 $reviewsListWidth;
    padding: 8px;
  }

  .reviews__text {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .reviews__btn-arrow {
    top: 50px;
    width: 24px;
    height: 24px;
  }

  .reviews__dots--item {
    width: 6px;
    height: 6px;
  }
}

@media screen and (max-width: 768px) {
  .reviews__content {
    padding: 40px;
  }

  .reviews__source--image {
    width: 80px;
    margin-bottom: 10px;
  }

  .reviews__title {
    margin-bottom: 26px;
  }
  
  .reviews__list--content {
    width: $reviewsListWidth;
  }

  .reviews__item {
    flex: 0 0 $reviewsListWidth;
    padding: 8px;
  }

  .reviews__text {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .reviews__btn-arrow {
    top: 50px;
    width: 24px;
    height: 24px;

    &.arrow-left {
      left: -10px;
    }

    &.arrow-right {
      right: -10px;
    }
  }

  .reviews__dots--item {
    width: 6px;
    height: 6px;
  }
}

@media screen and (max-width: 525px) {
  .reviews__content {
    padding: 24px 16px;
  }

  .reviews__source--image {
    width: 60px;
  }

  .reviews__title {
    margin-bottom: 16px;
  }

  .reviews__text {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .reviews__dots--item {
    width: 6px;
    height: 6px;
  }
}