.about__part {
  &--content {
    // width: 50vw;
    // border-left: $borderBlack;
  }
}

.about__content {
  &--subtitle {
  margin-bottom: 1.1vw;
  text-transform: uppercase;
}

  &--title {
    margin-bottom: $titleMarginBtm;
  }

  &--text {
    margin-bottom: 3.3vw;
  }
}