.additional__wrapper,
.additional__preview {
  border-bottom: $borderBlack;
  // border-right: none;
}

.additional__preview {
  text-align: center;
  padding: 3vw 0;
  // border-right: $borderBlack;
}

.additional__list {
  display: grid;
  grid-template-columns: 25vw 1fr 25vw 25vw;
  grid-template-rows: 25vw;
}

.additional__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: $borderBlack;
  
  &:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s linear;
  }

  &:nth-last-child(2) {
    border-right: none;
  }

  &:last-child {
    border-left: $borderBlack;
  }
}

.additional__link {
  padding-bottom: 0.5vw;
  background: no-repeat center center;
  background-size: cover;
  transition: opacity 0.2s linear;
}

.additional__title {
  margin-top: auto;
  font-size: 1.7rem;
  text-align: center;
  text-transform: uppercase;
}

.additional__title,
.additional__price--wrapper {
  margin-bottom: 0.5vw;
}


@media screen and (max-width: 768px) {
  .additional__preview--title {
    margin: 0;
  }

  .additional__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vw 50vw;
  }

  .additional__item,
  .additional__item:last-child {
    border: none;
  }

  .additional__item {
    &:nth-child(odd) {
      border-right: $borderBlack;
    }

    &:first-child,
    &:nth-child(2) {
      border-bottom: $borderBlack;
    }
  }
}

@media screen and (max-width: 525px) {
}