.shop-item__content {

}

.shop-item__image {
  padding: 0;
  width: 50vw;
  background: no-repeat center;
  background-size: cover;
}

.shop-item__info {
  padding: 2.5vw;
}

.shop-item__link--wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1.5vw;

  & * {
    width: fit-content;
  }
}

.shop-item__current {
  color: $gray;
}

.shop-item__title--wrapper {
  margin-bottom: 1vw;
}

.shop-item__text,
.shop-item__quantity--wrapper {
  margin-bottom: 1.5vw;
}

.shop-item__quantity--wrapper {
  display: flex;
  align-items: center;
}

.shop-item__quantity {
  margin-right: 1vw;
}

.shop-item__count--wrapper {
  display: flex;
  align-items: center;
  height: 3vw;
}

.count__part {
  // flex-basis: 0 0 3vw;
  width: 3vw;
  height: 100%;
  background-color: $white;
}

.shop-item__count {
  @include flex-center();
  border-top: 1px solid $grayLight;
  border-bottom: 1px solid $grayLight;
}

.shop-item__btn {
  border: 1px solid $grayLight;
  transition: border-color 0.2s ease-in-out;

  // &:hover {
  //   border-color: $grayLight;
  //   transition: border-color 0.1s ease-in-out;
  // }

  &:active {
    border-color: $black;
    transition: border-color 0.2s ease-in-out;
  }
}
.shop-item__link {
  text-transform: capitalize;
}

.shop-item__additional--text {
  margin-bottom: 0.75vw;
}

.shop-item__sublist--wrapper {
  position: relative;
  padding: 0 2.5vw;
  margin-bottom: 2vw;

  & .shop-item__btn-arrow {
    top: 5vw;
  }
}

.shop-item__sublist--content {
  position: relative;
  overflow: hidden;
}

.shop-item__sublist {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: fit-content;
  height: fit-content;
  transition: left 0.2s ease-in-out;
}

.shop-item__subitem {
  display: flex;
  flex-direction: column;
  flex-basis: 0 0 6.9vw;
  width: 6.9vw;
  margin-right: 1vw;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    cursor: pointer;
  } 

  &:hover .shop-item__sublink {
    border-color: $black;
    transition: border-color 0.2s ease-in;
  }
}

.shop-item__sublink {
  height: 6.9vw;
  border: 1px solid $grayLight;
  transition: border-color 0.2s ease-out;
  background: no-repeat center center;
  background-size: cover;
}

.shop-item__sublink,
.shop-item__subtitle {
  margin-bottom: 0.4vw;
}

.shop-item__subtitle {
  font-size: 0.6rem;
  text-transform: capitalize;
}

.shop-item__subprice {
  margin-top: auto;
}

.shop-item__options--title {
  text-transform: 1vw;
  margin-bottom: 1vw;
}

.price-options__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vw;
}

.price-options__item {
  margin-bottom: 1vw;

  &:last-child {
    margin-bottom: 0;
  }
}

.price-options__input {
  display: none;

  &:checked + .price-options__label::before {
    background-color: $black;
    transition: background-color 0.2s ease-in-out;
  }
}

.price-options__label {
  position: relative;
  display: flex;
  width: fit-content;
  min-height: auto;
  height: fit-content;
  padding-left: 3vw;

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: -25%;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    box-sizing: border-box;
    outline: $borderBlack;
    border: 0.4vw solid $grayLight;
    background-color: $grayLight;
    transition: background-color 0.2s ease-in-out;
  }
}

.price-options__submit {
  width: 100%;
}


@media screen and (max-width: 768px) {
  .shop-item__image {
    height: 80vw;
    border-bottom: $borderBlack;
  }
  
  .shop-item__count--wrapper {
    width: 146px;
    height: 44px;
  }

  .count__part {
    width: 44px;
  }

  .shop-item__subitem {
    flex-basis: 0 0 100px;
    width: 100px;
    margin-right: 16px;
  }

  .shop-item__sublist--wrapper {  
    & .shop-item__btn-arrow {
      top: calc(50% - 10px);
    }
  }

  .shop-item__sublink {
    height: 100px;
  }

  .price-options__label {
    padding-left: 24px;
    &::before {
      width: 16px;
      height: 16px;
      top: calc(50% - 8px);
      position: absolute;
      border-width: 3px;
    }
  }
}


@media screen and (max-width: 525px) {
  
}