.signin__wrapper {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 5.5vw;
  background-color: rgba(18, 18, 18, .6);
  backdrop-filter: blur(5px);
  z-index: 20;
  transition: top 0.3s linear;

  &--active {
    top: 0;
    transition: top 0.3s linear;
  }
}

.signin__content {
  max-width: 768px;
  padding: 2.5vw;
  margin: 0 auto;
  background-color: $white;
  border: $borderBlack;
}

.signin__title {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.signin__title,
.signin__text,
.signin__input {
  margin-bottom: 2vw;
}

.signin__input {
  height: 50px;
}

.signin__submit {
  width: 100%;
}

@media screen and (max-width: 768px)  {
  .signin__wrapper {
    padding-top: 60px;
  }

  .signin__content {
    padding: 40px;
  }

  .signin__title,
  .signin__text,
  .signin__input {
    margin-bottom: 24px;
  }
}