.subscription .section__wrapper:last-child,
.how-subscribe__item:not(:last-child) {
  border-bottom: $borderBlack;
} 

.subscribe__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flower-subscribe__story,
.how-subscribe__list--wrapper,
.plan-subscribe__img-wrapper {
  border-left: $borderBlack;
}

.flower-subscribe__img {
  height: 50vw;
  background: url('../../images/subscriptions-flower.png') no-repeat top center;
  background-size: cover;
}

.flower-subscribe__story,
.how-subscribe__title--wrapper,
.how-subscribe__item {
  padding: 5vw;
}

.flower-subscribe__item {
  margin-bottom: 2vw;

  & ul {
    list-style-type: disc;
    padding-left: 2vw;
  }

  &:last-child {
    margin: 0;
  }
}

.flower-subscribe__title {
  margin-bottom: 2.5vw;
}

.flower-subscribe__text {
  position: relative;
  text-align: justify;
}


//Subscription-plan
.plan-subscribe__title--wrapper {
  padding: 5vw 2.5vw;
}

.plan-subscribe__title,
.plan-subscribe__text {
  margin-bottom: 2.5vw;
}

.plan-subscribe__plan--wrapper {
  padding: 2.5vw 0;
  border-bottom: 1px solid $grayLight;

  &:last-of-type {
    margin-bottom: 2.5vw;
  }
}

.plan-item__checkout {
  width: 100%;
}

.plan__list {
  padding-top: 0;
}

.plan-subscribe__img {
  width: 100%;
  height: 50vw;
}

.plan-subscribe__item {
  margin-bottom: 2vw;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.plan-item__content--wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid $grayLight;
  border-bottom: none;

  &.selected {
    border-color: $black;
    transition: border-color 0.3s linear;

    & .plan-item__img {
      border-right-color: $black;
      transition: border-right-color 0.3s linear;
    }
  }
}

.plan-item__img {
  border-right: 1px solid $grayLight;
  background: no-repeat center center;
  background-size: cover;

  &.bouquet-1 {
    background-image: url('../../images/plan-item-bouquet-1.png');
  }

  &.bouquet-2 {
    background-image: url('../../images/plan-item-bouquet-2.png');
  }

  &.bouquet-3 {
    background-image: url('../../images/plan-item-bouquet-3.png');
  }
}

.plan-item__content {
  padding: 1.5vw;
}

.plan-item__sublist {
  list-style: disc;
  padding-left: 1.5vw;
}

.plan-item__subitem {
  line-height: 1.5;
}

.plan-item__select {
  width: 100%;
}

.plan-subscribe__img {
  background: url('../../images/subscriptions.png') no-repeat center center;
  background-size: cover;
  border-bottom: $borderBlack;
}

.plan-subscribe__howoften {
  display: flex;
  justify-content: space-between;
}

.plan-subscribe__input {
  width: 0;
  height: 0;
  display: none;

  &:checked + .plan-subscribe__label {
    background-color: $black;
     
    & .btn__text--active {
      color: white;
    }
  }
}

.plan-subscribe__label:hover {
  cursor: pointer;
}

.plan-subscribe__count--wrapper {
  position: relative;
  display: flex;

  &::after {
    content: "10 is the maximum";
    position: absolute;
    left: 0;
    bottom: -1.5vw;
    font-size: 1vw;
    font-style: italic;
  }
}

.plan-item__count{
  width: 4vw;
}

.plan-subscribe__count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  border-top: $borderBlack;
  border-bottom: $borderBlack;
}


//FAQ
.subscribe__faq {
  padding: 2.5vw;
  grid-template-columns: 1fr;
  background-color: $grayLight;
}

.faq__list--wrapper {
  padding: 3.5vw;
  margin: 0 auto;
  width: 70vw;
  border: $borderBlack;
  background-color: $white;
}

.faq__title {
  text-align: center;
  margin-bottom: 4vw;
}

.faq__item {
  position: relative;
  padding: 2vw 0 0;
  border-bottom: $borderBlack;

  &:hover {
    cursor: pointer;
  }
}

.faq__icon {
  position: absolute;
  top: 2.5vw;
  right: 0;
  width: 1.2vw;
  height: 1.2vw;
}

.faq__subtitle {
  margin-bottom: 0;
}

.faq__text {
  margin-bottom: 2vw;
  height: 0;
  overflow: hidden;
  text-align: justify;
  transition: height 0.3s ease-in-out;
}

.faq__item.faq__active {
  & .faq__icon {
    transform: rotate(90deg);
    transition: transform 0.2s ease-in-out;
  }

  .faq__text {
    transition: height 0.3s ease-in-out;
  }
}



@media screen and (max-width: 768px) {
  .subscribe__content {
    grid-template-columns: 1fr;
  }

  .flower-subscribe__story,
  .how-subscribe__list--wrapper,
  .plan-subscribe__img-wrapper {
    border-left: none;
  }

  .subscribe__title {
    margin-bottom: 2vw;
  }

  .subscribe__item-title {
    margin-bottom: 1vw;
  }

  .how-subscribe__title--wrapper {
    border-bottom: $borderBlack;
  }

  .how-subscribe__title {
    margin-bottom: 0;
  }

  //Plan-subscribe
  .plan-subscribe__img-wrapper {
    order: 1;
  }

  .plan-subscribe__title--wrapper {
    order: 2;
  }

  .plan-subscribe__img {
    background-position-y: top;
  }

  .plan-subscribe__text {
    text-align: justify;
  }

  .plan-item__content {
    padding: 15px;
  }

  .plan-item__sublist {
    padding-left: 15px;
  }

  .plan-subscribe__label.btn {
    width: 30%;
  }

  .plan-subscribe__plan--wrapper {
    padding: 16px 0;

    &:last-of-type {
      margin-bottom: 16px;
    }
  }

  .plan-item__count {
    width: 56px;
  }

  .plan-subscribe__count {
    width: 60px;
  }

  .plan-subscribe__count--wrapper::after {
    bottom: -12px;
    font-size: 10px;
  }

  //FAQ
  .subscribe__faq {
    padding: 24px;
  }

  .faq__list--wrapper {
    padding: 36px 24px;
    width: 90%;
  }

  .faq__item {
    padding-top: 20px;
  }

  .faq__icon {
    top: 24px;
    width: 18px;
    height: 18px;
  }

  .faq__subtitle {
    width: calc(100% - 20px);
    font-size: 20px;
  }

  .faq__item.faq__active {
    & .faq__subtitle {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 525px) {
// FAQ
  .faq__icon {
    width: 16px;
    height: 16px;
  }
  
  .faq__subtitle {
    font-size: 16px;
  }

  .faq__item.faq__active {
    & .faq__subtitle {
      margin-bottom: 10px;
    }
  }
}