.subscription .section__wrapper:last-child,
.how-subscribe__item:not(:last-child) {
  border-bottom: $borderBlack;
} 

.flower-subscribe__content,
.how-subscribe__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flower-subscribe__story,
.how-subscribe__list--wrapper {
  border-left: $borderBlack;
}

.flower-subscribe__img {
  height: 50vw;
  background: url('../../images/subscriptions-flower.png') no-repeat top center;
  background-size: cover;
}

.flower-subscribe__story,
.how-subscribe__title--wrapper,
.how-subscribe__item {
  padding: 5vw;
}

.flower-subscribe__item {
  margin-bottom: 2vw;

  & ul {
    list-style-type: disc;
    padding-left: 2vw;
  }

  &:last-child {
    margin: 0;
  }
}

.flower-subscribe__title {
  margin-bottom: 2.5vw;
}

.flower-subscribe__text {
  position: relative;
  text-align: justify;
}


@media screen and (max-width: 768px) {
  .flower-subscribe__content,
  .how-subscribe__content {
    grid-template-columns: 1fr;
  }

  .flower-subscribe__story,
  .how-subscribe__list--wrapper {
    border-left: none;
  }

  .subscribe__title {
    margin-bottom: 2vw;
  }

  .subscribe__item-title {
    margin-bottom: 1vw;
  }

  .how-subscribe__title--wrapper {
    border-bottom: $borderBlack;
  }

  .how-subscribe__title {
    margin-bottom: 0;
  }
}